<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/views/auth/login/login.css">
</head>
<body>
    <div class="contain">
        <% if(messages.error) { %>
        <%= messages.error %>
        <% } %>
        <form action="/user/login" method="post">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Please your email">
            </div>
    
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="please your password">
            </div>
            <div id="btn">
                <input type="submit" value="Login">
            </div>
            <a href="/user/register.html">Or sign up</a>
        </form>
    </div>
</body>
</html>